{% load static %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />

    <!-- import css refering to the page name with |add:page_css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/'|add:page_css %}"
    />

    <title>Litrevu</title>
  </head>

  <body>
    {%  if user.is_authenticated %}
    <header>
      <h1>LitRevu</h1>
      <ul>
        <li><a href="{% url 'feed' %}">Flux</a></li>
        <li><a href="{% url 'home' %}">Posts</a></li>
        <li><a href="{% url 'home' %}">Abonnements</a></li>
        <li><a href="{% url 'signout' %}">Se déconnecter</a></li>
      </ul>
    </header>
    {% endif %}

    <main>{% block content %}{% endblock content %}</main>
  </body>
</html>
