{% extends 'base.html' %} {% block content %} {% load stars_rating %}
<h1>Flux</h1>

<div class="feed-btn">
  <a class="btn-primary" href="{% url 'ticket' %}">Demander une critique</a>
  <a class="btn-primary" href="{% url 'ticket-and-review'%}"
    >Créer une critique</a
  >
</div>

<div class="all_tickets_reviews">
  {% for item in all_tickets_reviews %} {% if item.headline %}
  <!-- Review -->
  <div class="card">
    <div class="card-infos">
      <p>
        <a
          class="profile_username"
          href="{% url 'profile' user_id=item.user.id %}"
          >{{ item.user }}</a
        >
        a publié une critique
      </p>
      <p>{{item.time_created}}</p>
    </div>

    <div class="card-review">
      <div class="card-review-title">
        <h3>{{ item.headline }}</h3>
        <div>{% for i in item.rating|stars_rating %} &#9733; {% endfor %}</div>
      </div>
      <p class="card-review-body">{{ item.body }}</p>
    </div>

    <div class="inside-card card-ticket">
      <div class="card-ticket-infos">
        <p class="card-ticket-infos-user">Ticket par {{item.ticket.user}}</p>
        <h3>{{ item.ticket.title }}</h3>
        <p>{{ item.ticket.description }}</p>
      </div>

      <div class="card-ticket-image">
        <img src="/media/{{item.ticket.image}}" alt="{{item.ticket.title}}" />
      </div>
    </div>
  </div>

  {% else %}

  <!-- Ticket -->
  <div class="card">
    <div class="card-infos">
      <p>
        <a
          class="profile_username"
          href="{% url 'profile' user_id=item.user.id %}"
          >{{ item.user }}</a
        >
        a publié un ticket
      </p>
      <p>{{item.time_created}}</p>
    </div>

    <div class="inside-card card-ticket">
      <div class="card-ticket-infos">
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
      </div>

      <div class="card-ticket-image">
        <img src="/media/{{item.image}}" alt="{{item.title}}" />
      </div>
    </div>

    <div class="ticket-and-review-btn">
      <button class="btn-primary">Créer une critique</button>
    </div>
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock content %}
