{% extends 'base.html' %} {% block content %}
<h1>Litrevu</h1>
{%  if user.is_authenticated %}
<p>
  Vous êtes connecté en tant que {{ request.user }}.
  <a href="{% url 'signout' %}">Se déconnecter</a>
</p>
{% endif %} {%  if not user.is_authenticated %}

<div class="authentication">
  <div class="authentication-signUp">
    <h2>Inscrivez-vous maintenant</h2>
    <a href="{% url 'signup' %}" class="auth-button">S'inscrire</a>
  </div>

  <div class="authentication-signIn">
    <h2>Connectez-vous</h2>
    <form method="post">
      {{ form.as_p }} {% csrf_token %}
      <button type="submit" class="auth-button">Se connecter</button>
    </form>
  </div>
</div>

{% endif %} {% endblock content %}
