{% extends 'base.html' %} {% block content %}
<h1>Litrevu</h1>
{%  if user.is_authenticated %}
<p>
  Vous êtes connecté en tant que {{ request.user }}.
  <a href="{% url 'signout' %}">Se déconnecter</a>
</p>
{% endif %} {%  if not user.is_authenticated %}

<section class="authentication-section">
  <div class="authentication-signup">
    <h2>Inscrivez-vous maintenant</h2>
    <a href="{% url 'signup' %}" class="auth-button">S'inscrire</a>
  </div>

  <div class="authentication-signin">
    <h2>Connectez-vous</h2>
    <form method="post" action="{% url 'signin' %}" class="signin-form">
      {% if message %}
      <p class="error-message">{{ message }}</p>
      {% endif %} {{ signin_form }} {% csrf_token %}
      <button type="submit" class="auth-button">Se connecter</button>
    </form>
  </div>
</section>

{% endif %} {% endblock content %}
