{% extends 'base.html' %} {% block content %} {% load stars_rating %}
<h1>Vos posts</h1>

<div class="all_tickets_reviews">
  {% for item in all_tickets_reviews %} {% if item.headline %}
  <!-- Review -->
  <div class="card">
    <div class="card-infos">
      <p>Vous avez publié une critique</p>
      <p>{{item.time_created}}</p>
    </div>

    <div class="card-review">
      <div class="card-review-title">
        <h3>{{ item.headline }}</h3>
        <div>{% for i in item.rating|stars_rating %} &#9733; {% endfor %}</div>
      </div>
      <p class="card-review-body">{{ item.body }}</p>
    </div>

    <div class="inside-card card-ticket">
      <div class="card-ticket-infos">
        <h3>{{ item.ticket.title }} - {{item.user}}</h3>
        <p>{{ item.ticket.description }}</p>
      </div>

      <div class="card-ticket-image">
        <img src="/media/{{item.ticket.image}}" alt="{{item.ticket.title}}" />
      </div>
    </div>
    <div class="card-btns">
      <button class="btn-primary">Modifier</button>
      <button class="btn-primary">Supprimer</button>
    </div>
  </div>
  {% else %}
  <!-- Ticket -->
  <div class="card">
    <p>Vous avez publié une critique</p>
    <div class="inside-card">
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
    </div>
  </div>
  {% endif %} {% endfor %} {% endblock content %}
</div>
