form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.submit-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.submit-div button {
  width: 10em;
}

input {
  height: 2em;
  margin-bottom: 1em;
}

textarea {
  resize: none;
  margin-bottom: 1em;
}
