form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.submit-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.submit-div button {
  width: 10em;
}

input {
  height: 2em;
  margin-bottom: 1em;
}

textarea {
  resize: none;
  margin-bottom: 1em;
}

.associated-ticket {
  width: 100%;
  overflow: hidden;
  border: 1px solid grey;
  margin: 1em;
}

.associated-ticket p {
  margin: 0;
  padding: 0.5em 1em;
  padding-bottom: 0;
}

.associated-ticket-body {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  margin: 1em 2em;
}

.associated-ticket-body img {
  width: 5em;
  padding: 1em;
}

#id_rating {
  display: flex;
}

#id_rating label {
  margin: 1em;
  display: flex;
  align-items: center;
}
