h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}

.authentication-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.authentication-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.authentication-signin {
  text-align: center;
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.signin-form button {
  margin-top: 2em;
}

label {
  margin-top: 1em;
}

input {
  padding: 0.5em;
}

.error-message {
  color: red;
}
